/* collapsible text */

<div class="collapsible collapsible--expanded">
  <header class="collapsible--header">
    <h2 class="collapsible__heading">About</h2>
    <svg class="icon icon--white collapsible__icon">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <p class="collapsible--content collapsible--content-p">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, fugit.
  </p>
</div>

/* collapsible clickable list */

<div class="collapsible collapsible--expanded">
  <header class="collapsible--header">
    <h2 class="collapsible__heading">T&C</h2>
    <svg class="icon icon--white collapsible__icon">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible--content">
    <div class="collapsible--list">
      <a class="collapsible--list__item" href="#">AAAAA</a>
      <a class="collapsible--list__item" href="#">BBBBB</a>
      <a class="collapsible--list__item" href="#">CCCCC</a>
    </div>
  </div>
</div>
