<section class="block block--dark block--skew-right hero">
  <div class="container grid grid--1x2">
    <header class="block--header hero--content">
      <h2 class="block__heading">Cloud Hosting For Pros</h2>
      <p class="hero__tagline">Deploy your website in less than 60 seconds</p>
      <a class="btn btn--accent btn--long" href="#">GET STARTED</a>
    </header>

    <picture>
      <source
        type="image/png"
        srcset="images/banner.png 1x, images/banner@2x.png 2x"
      />
      <source
        type="image/webp"
        srcset="images/banner.webp 1x, images/banner@2x.webp 2x"
      />
      <img class="hero__img" src="images/banner.png" alt="" />
    </picture>
  </div>
</section>
