html {
  font-size: 62.5%;
}

:root {
  --color-primary: #2584ff;
  --color-seconday: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #918ca4;
}

body {
  font-size: 2.4rem;
  line-height: 1.5;
  font-family: "roboto", Arial, Helvetica, sans-serif;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* link */

a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: " \279C";
  margin-left: 3px;
  transition: 0.5s;
}

.link-arrow:hover::after {
  margin-left: 12px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* badge */

.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap; /*this is to prevent object go to another line, so it stay in same line*/
}

.badge--primary {
  background-color: var(--color-primary);
  color: white;
}

.badge--secondary {
  background-color: var(--color-seconday);
  color: white;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* list horizontal & vertical*/
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-heading);
}

.list--horizontal .list__item {
  display: inline-block;
  margin-right: 0.5rem;
  font-weight: bold;
}

.list--vertical {
  padding-left: 3rem;
  padding-bottom: 0.5rem;
  list-style: decimal;
}

.list--vertical .list__item {
  padding-left: 1rem;
}

/* .list--tick {
  padding-left: 3rem;
}

.list--tick .list__item {
  padding: 0.5rem;
} */

.list--tick .list__item::before {
  padding: 0 1rem 0 0.5rem;
  content: url(../images/tick.svg);
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item::before {
    padding: 0 0.5rem 0 0.5rem;
  }
}

/* icon */

.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--accent {
  fill: var(--color-accent);
}

.icon-container {
  display: inline-flex;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background-color: lightgray;
  justify-content: center;
  align-items: center;
}
